@font-face {
  font-family: font1;
  src: url('assets/fonts/Teletekst-8eX0.ttf');
  font-weight:400;
  font-weight:normal;
}

@font-face {
  font-family: font2;
  src: url('assets/fonts/Teletactile-3zavL.ttf');
  font-weight:400;
  font-weight:normal;
}